<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

    <body>
        <div class="container">
            <h1>Admin Panel</h1>
            <ul>
                <li>
                    <p><a href="/list-users">See users</a></p>
                </li>
                <li>
                    <p>Test game</p>
                </li>
            </ul>
        </div>
    </body>

</html>