<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

    <body class="login-page text-center">
        <div class="form-signin my-1">
            <img class="mb-4" src="images/logo-600x600.png" alt="" width="200" height="200">
            <div class="mb-3 text-start">
                <!-- <img class="me-1" src="images/icons/user-solid.svg" alt="" width="16" height="16"> -->
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" placeholder="Username" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
                <!-- <img class="me-1" src="images/icons/lock-solid.svg" alt="" width="16" height="16"> -->
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" placeholder="Password" class="form-control" required>
            </div>
            <!-- <div class="text-danger">
                    <p>Account not found.</p>
                </div>
                <div class="text-danger">
                    <p>Your password is wrong.</p> 
                </div> -->
            <button type="submit" onclick="LoginAttempt()" class="btn btn-dark">Login</button>
            <p>&nbsp;</p>
            <p class="text-center">Don't have an account? <a href="create-account">Sign up</a></p>
        </div>
        <div class="mt-3 fixed-bottom" style="background-color: #0a659a; color: #fcfeca;border-color:#0a659a">
            <div class="accordion" id="accordionExample">
                <div>
                    <button style="background-color: #0f3a53; color: #fcfeca;" class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Test Logins
                    </button>

                    <div id="collapseOne" style="border-color:#0a659a" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <h3 style="font-size: 14pt;">Student</h3>
                                    <p>username: "test-student"</p>
                                    <p>password : "password"</p>
                                </div>
                                <div class="col">
                                    <h3 style="font-size: 14pt;">Admin</h3>
                                    <p>username: "test-admin"</p>
                                    <p>password : "password"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function LoginAttempt() {
                let username = document.getElementById("username").value;
                let password = document.getElementById("password").value;

                const requestOptions = {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(
                        {
                            username: username,
                            password: password,
                        })
                };
                var url = '/api/login-attempt';
                fetch(url, requestOptions)
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (data) {
                        if (data.account == "authorized-admin") {
                            window.location.replace("/list-users");
                        }
                        else if (data.account == "authorized-student") {
                            window.location.replace("/game?username=" + username);
                        }
                        else if (data.account == "wrong-password") {
                            alert("wrong password")
                        }
                        else {
                            alert("no account")
                        }
                    })
            }
        </script>
    </body>

</html>