<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale =
    1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = 0,
    minimal-ui=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Healthy Lifestyles</title>
    <style>
        html {
            background-color: black;
        }

        body {
            padding: 0px;
            margin: 0px;
        }

        canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.60.0/phaser.js"
        integrity="sha512-H05oT7BAjM9Ai1IaFX9zr61NtE2e1P0MkTz3AZXBnseaJSAOt2FGMFJ+vVGutaJxEGA1jxUiYsTBYQNE08/Erw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="js/town/main.js"></script>
    <script type="module" src="js/town/scene1.js"></script>
    <script type="module" src="js/town/scene2.js"></script>
    <script type="module" src="js/town/scene3.js"></script>
    <script type="module" src="js/town/scene4.js"></script>
    <script type="module" src="js/town/scene5.js"></script>

</head>

<body>


</body>

</html>