html,
body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Log in page */

.login-page {
  height: 100%;
  background-image: url("../images/login-background.png");
  background-size: cover;
}

.form-signin {
  background-color: #0f3a53;
  color: #fcfeca;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 25px;
}

/* Bootstrap class */
.accordion-button::after {
  filter: invert();
}